# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyBGRmaPosoM1BoHqRYAa_qbqhEJT1hAkdg"

# APP_URL: The URL where this applet is hosted.
APP_URL="kerukunan-i7djv6vg6-pondokmatoa.vercel.app"

# DATABASE_URL: Postgres Connection String for Supabase or direct postgres connection
SUPABASE_DB_URL="postgresql://postgres:XRwyHqWDSypR6VXZ@db.bvjdlqtszjvrqzrybklr.supabase.co:5432/postgres"

# Or configure individual DB variables:
# SQL_HOST="localhost"
# SQL_USER="postgres"
# SQL_PASSWORD="password"
# SQL_DB_NAME="kerukunan"

# JWT Secret for authentication
JWT_SECRET="c3851950-3b95-491d-ae08-913d17781d66"
